@discordjs/opus~=0.8.0
@discordjs/voice~=0.13.0
discord.js~=12.5.3
dotenv~=16.0.3
ytdl-core~=4.10.0
youtube-video-exists@~=.1.2

npm i youtube-video-exists@0.1.2 @discordjs/voice@0.13.0 discord.js@12.5.3 dotenv@16.0.3 ytdl-core@4.10.0 @discordjs/opus@0.8.0

